<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="creditxferApp" ng-controller="CreditxferJsController" data-ng-init="init()">
<div class="bg-dark">
    <div class="container">
        <div class="row pt-0 pb-0">
            <div class="navbar col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <nav class="navbar-nav navbar-expand navbar-dark">
                    <ul class="navbar-nav align-bottom">
                        <li class="nav-item"><a class="nav-item nav-link" th:href="@{/home}">Home</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" th:href="@{/glossary}">Glossary</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" th:href="@{/contact}">Contact</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" th:href="@{/faq}">Help</a></li>
                        <li class="nav-item"><a class="nav-item nav-link" th:href="@{/feedback}">Feedback</a></li>
                    </ul>
                </nav>
            </div>
            <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-content-center">
              <nav class="navbar-nav navbar-expand navbar-dark justify-content-end top-padding: 5px">
                <ul class="navbar-nav pt-2">
                </ul>
              </nav>
            </div>-->
        </div>
    </div>
</div>
<!--    <nav th:replace="menubar :: copy"></nav>-->
<!--    <style>-->
<!--        .list-group a {-->
<!--            color: #0275d8;;-->
<!--        }-->
<!--    </style>-->

<!-- UH System top nav bar end-->
<div class="bg-white pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-6"><img th:src="@{/images/uh_logo.png}" alt="University of Hawaii" width="100%" class="img-fluid"></div>
        </div>
    </div>
</div>

<!-- UH system header end-->
<!--    <nav th:replace="menubar :: copy"></nav>-->

<div class="bg-light pt-2 pb-2 border-top border-bottom">
    <div class="container" >
        <h5 class="title"><a href="/" th:href="@{/}">UH System Course Transfer Database</a></h5>
    </div>
</div>

<!-- title bar end-->

    <div class='container'>
        <div class='row'>
            <div class='offset-xs-1 col-xs-10 offset-sm-1 col-sm-10'>
                <div class="card glossary">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/glossary}" href="/transferdatabase/glossary">Glossaries</a></li>
                        <li class="breadcrumb-item active">University of Hawai&#699;i West O&#699;ahu</li>
                    </ol>
                    <div class="card-block">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h4>Foundation Requirements</h4>
                                <ul class="list-unstyled">
                                  <li>FW -- Written Communication</li>
                                  <li>FS -- Symbolic Reasoning </li>
                                  <li>FGA -- Global &amp; Multicultural Perspectives Group A</li>
                                  <li>FGB -- Global &amp; Multicultural Perspectives Group B</li>
                                  <li>FGC -- Global &amp; Multicultural Perspectives Group C</li>
                                </ul>
                            </li>
                        </ul>        
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h4>Diversification Requirements</h4>
                                <h5>Arts, Humanities, &amp; Literature</h5>
                                <ul class="list-unstyled">
                                  <li>DA -- Arts</li>
                                  <li>DH -- Humanities</li>
                                  <li>DL -- Literature</li>
                                </ul>
                                <p></p>
            
                                <h5>Natural Sciences</h5>
                                <ul class="list-unstyled">
                                  <li>DB -- Biological Science</li>
                                  <li>DP -- Physical Sciences</li>
                                  <li>DY -- Natural Science Lab</li>
                                </ul>
                                <p></p>
            
                                <h5>Social Sciences</h5>
                                <ul class="list-unstyled">
                                  <li>DS -- Social Sciences</li>
                                </ul>
                            </li>
                        </ul>        
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h4>Miscellaneous acronyms &amp; abbreviations</h4>
                                <ul class="list-unstyled">
                                  <li>ELEC -- Lower division elective course; does not fulfill a general education requirement</li>
                                  <li>UDEL -- Upper division elective course; does not fulfill a general education requirement</li>
                                  <li>NO CR -- remedial or developmental course; non transferable</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="footer :: copy"></div>
</body>
</html>
