<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="creditxferApp" ng-controller="CreditxferJsController" data-ng-init="init()">
<nav th:replace="menubar :: copy"></nav>
<div class="container">
    <div class="pt-3 pb-3">
        <div class="row">
            <div class="col-sm-12">
                <h4>Glossaries of Acronyms</h4>
            </div>
            <div class="col-sm-12">
                <p>
                  The information displayed on this site is obtained directly from the
                  central database used by administrators within the various University
                  of Hawai&#699;i System campuses. The information may include
                  abbreviations and acronyms whose meaning is not immediately apparent
                  to non-administrators.
                </p>
            </div>
            <div class="col-sm-12">
                <p>
                  A few campuses have provided glossaries of some of their acronyms
                  and abbreviations.  These lists may not be exhaustive, and even where
                  a term is defined here its relevance may be unclear.  The solution
                  in all cases is to talk to an academic advisor to resolve questions.
                </p>
            </div>
            <div class="col-sm-12">
                <div class="list-group">
                    <a th:href="@{/glossary/uhm}"  href="/transferdatabase/glossary/uhm"  class="list-group-item">UH M&#257;noa</a>
                    <a th:href="@{/glossary/wcc}"  href="/transferdatabase/glossary/wcc"  class="list-group-item">Windward Community College</a>
                    <a th:href="@{/glossary/uhh}"  href="/transferdatabase/glossary/uhh"  class="list-group-item">UH Hilo</a>
                    <a th:href="@{/glossary/uhwo}" href="/transferdatabase/glossary/uhwo" class="list-group-item">UH West O&#699;ahu</a>
                    <a th:href="@{/glossary/hon}"  href="/transferdatabase/glossary/hon"  class="list-group-item">Honolulu Community College</a>
                    <a th:href="@{/glossary/kcc}"  href="/transferdatabase/glossary/kcc"  class="list-group-item">Kapi&#699;olani Community College</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div th:replace="footer :: copy"></div>
</body>
</html>
