<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="creditxferApp" ng-controller="CreditxferJsController" data-ng-init="init()">
    <div class="bg-dark">
        <div class="container">
            <div class="row pt-0 pb-0">
                <div class="navbar col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <nav class="navbar-nav navbar-expand navbar-dark">
                         <ul class="navbar-nav align-bottom">
                             <li class="nav-item"><a class="nav-item nav-link" th:href="@{/home}">Home</a></li>
                             <li class="nav-item"><a class="nav-item nav-link" th:href="@{/glossary}">Glossary</a></li>
                             <li class="nav-item"><a class="nav-item nav-link" th:href="@{/contact}">Contact</a></li>
                             <li class="nav-item"><a class="nav-item nav-link" th:href="@{/faq}">Help</a></li>
                             <li class="nav-item"><a class="nav-item nav-link" th:href="@{/feedback}">Feedback</a></li>
                        </ul>
                    </nav>
                </div>
            <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-content-center">
              <nav class="navbar-nav navbar-expand navbar-dark justify-content-end top-padding: 5px">
                <ul class="navbar-nav pt-2">
                </ul>
              </nav>
            </div>-->
            </div>
        </div>
    </div>
<!--    <nav th:replace="menubar :: copy"></nav>-->
<!--    <style>-->
<!--        .list-group a {-->
<!--            color: #0275d8;;-->
<!--        }-->
<!--    </style>-->

    <!-- UH System top nav bar end-->
    <div class="bg-white pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-6"><img th:src="@{images/uh_logo.png}" alt="University of Hawaii" width="100%" class="img-fluid"></div>
            </div>
        </div>
    </div>

    <!-- UH system header end-->

    <div class="bg-light pt-2 pb-2 border-top border-bottom">
        <div class="container" >
            <h5 class="title"><a href="/" th:href="@{/}">UH System Course Transfer Database</a></h5>
        </div>
    </div>

    <!-- title bar end-->

    <div class="container">
        <div class="row">
            <div class="offset-xs-1 col-xs-10 offset-sm-1 col-sm-10">
                <h4>Glossaries of Acronyms</h4>
            </div>
            <div class="offset-xs-1 col-xs-10 offset-sm-1 col-sm-10">
                <p>
                  The information displayed on this site is obtained directly from the
                  central database used by administrators within the various University
                  of Hawai&#699;i System campuses. The information may include
                  abbreviations and acronyms whose meaning is not immediately apparent
                  to non-administrators.
                </p>
            </div>
            <div class="offset-xs-1 col-xs-10 offset-sm-1 col-sm-10">
                <p>
                  A few campuses have provided glossaries of some of their acronyms
                  and abbreviations.  These lists may not be exhaustive, and even where
                  a term is defined here its relevance may be unclear.  The solution
                  in all cases is to talk to an academic advisor to resolve questions.
                </p>
            </div>
            <div class="offset-xs-1 col-xs-10 offset-sm-1 col-sm-10">
                <div class="list-group">
                    <a th:href="@{/glossary/uhm}"  href="/transferdatabase/glossary/uhm"  class="list-group-item">UH M&#257;noa</a>
                    <a th:href="@{/glossary/wcc}"  href="/transferdatabase/glossary/wcc"  class="list-group-item">Windward Community College</a>
                    <a th:href="@{/glossary/uhh}"  href="/transferdatabase/glossary/uhh"  class="list-group-item">UH Hilo</a>
                    <a th:href="@{/glossary/uhwo}" href="/transferdatabase/glossary/uhwo" class="list-group-item">UH West O&#699;ahu</a>
                    <a th:href="@{/glossary/hon}"  href="/transferdatabase/glossary/hon"  class="list-group-item">Honolulu Community College</a>
                    <a th:href="@{/glossary/kcc}"  href="/transferdatabase/glossary/kcc"  class="list-group-item">Kapi&#699;olani Community College</a>
                </div>
            </div>
        </div>
    </div>

<!--    <div th:replace="footer :: copy"></div>-->
</body>
</html>
