.applicant-initiate {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
.box-shadow {
	box-shadow: 0px 3px 5px rgba(0,0,0,0.16), 0px 3px 5px rgba(0,0,0,0.23);
}
#grey {
	background-color: #f1f3f7;
	height: 170px;
	width: 100%;
	margin: auto;
}
#center-icon{
	margin: auto;
}
.flat-bluegreen {
	color: #00ba95;
	font-size: 8em;
	margin-left: 40%;
	line-height: 150%;
}
.btn-blue,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:visited,
.btn-blue:focus {
    background-color: #185182;
    border-color: #185182;
	color: #fff;
}
