
html {
    position: relative;
    min-height: 100%;
    overflow-y:scroll;
}

body {
    font-family: "Open Sans", arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;

    margin: 0px;
}
h1 {
    font-size: 30px;
    line-height: 2.0em;
}
h2 {
    font-size: 28px;
}
h3 {
    color: #BD9319;
    font-size: 22px;
    font-style: italic;
}
h4 {
    font-size: 1.2rem;
}

.a {
    color: #0275d8;
    text-decoration: none;
}

.a:hover {
    color: #0275d8;
    text-decoration: underline;
}

.btn:hover {
    background-color:  #F5ECCE ;
}

.seal-color {
   color: #BD9319;
}

p.uh-align-left {
   text-align: left;
}

/*
.btn:hover {
    background-color: #fef9e7  ;
    border-color: #ccc;
    font-weight: normal;
}

.btn-default {
    border-color: #BD9319;
}
*/
.fa:hover {
  opacity: 0.7;
}
.title, .title a{
  color:#333;
  text-decoration: none;
}
.list-group a:hover{
  background-color:#064f30;
  color:#fff;
}
.bg-gold{
  background: #b4975e;
}
.search-box{
  color:#fff;
  background: #b4975e;
}
.btn-gold-search{
  background-color: #8f703d;
  color:#fff;
  border:1px solid #fff;
  text-transform: uppercase;
  margin-top: 30px;
}
.result_box{
  border:1px solid #c8c8c8;
  padding: 30px;
  margin: 0 0 20px 0;
}
.result_box li{
  list-style:decimal;
}
.footer{
  color:#fff;
}
.footer a{
  color:#c8c8c8;
}
.uh-branding-one {
    font-family: cinzel-regular, serif;
    font-size: 1.6em;
    font-style: normal;
    letter-spacing: 2.2px;
    color: #777;
}
.uh-branding-two {
    font-family: cormorant-upright-regular, cursive;
    font-size: 0.8em;
    font-style: normal;
    color: #777;
}

.navbar {
    margin: 0;
    padding: 0;
    line-height: 10px;
}
.fixed-top .nav {
    padding-left: 0px;
    padding-right: 20px;
}
.fixed-top .nav-brand {
    padding-right: 0px;
}
.fixed-top .nav-brand > img {
    height: 50px;
    width: 50px;
    background-color: transparent;
}
.nav-brand.uh-nav-app-name {
    height: 50px;
    width: auto;
    color: #BD9319;
    background-color: transparent;


    font-family: alegreyasans-regular, opensans-regular, serif;
    font-weight: normal;
    font-size: 20px;
}
.nav-brand.uh-nav-app-name:hover {
    color: #b08a17;
}
.nav-item {
  margin-left: -5px;
  margin-right: 5%;
  white-space: nowrap;
}
.dropshadow {
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}
.nav-default .nav-nav > .open > a,
.nav-default .nav-nav > .open > a:focus,
.nav-default .nav-nav > .open > a:hover {
    color: #555;
    background-color: white;
}

.amp {
    font-family: alice-regular, alegreyasans-regular, opensans-regular, serif;
    font-weight: normal;
    font-size: 90%;
}

/*.footer {*/
/*    position: absolute;*/
/*    padding-top: 5px;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    !* Set the fixed height of the footer here *!*/
/*    height: 50px;*/
/*    font-size: 100%;*/
/*    text-align: center;*/
/*}*/

.footer{
  position: absolute;
  padding-top: 5px;
  bottom: 0;
  width: 100%;
  color:#fff;
}
.footer a{
  color:#c8c8c8;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.container .jumbotron.compacted,
.container-fluid .jumbotron.compacted {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-default > .panel-heading {
    font-weight: bold;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.no-margin-padding {
    padding-left: 0;
    padding-right: 0;
}

input.form-control.full-width {
    width: 100%;
}
.nopadding {
  padding: 0 ;
  margin: 0;
}
.fa{
  padding: 0 0 0 0;
  margin:0 0 0 20px;
  color: #fff;
}

#success_message{ display: none;}

button.redify-link {
    color: #d43f3a;
}

/* -------------------------------------------------------- */

.back-to-top {
    display: inline-block;
    clear: both;
    background: #fff;
    color: #333;
    padding: 0 10px 5px;
    margin: 0px 0 0;
    text-shadow: none;
}
.back-to-top:hover {
    background: #cccccc;
    color: #fff;
    text-decoration: none;
}
@media(min-width: 1200px) {
  .container, .container-fluid {
    width: 992px;
  }
}

@media(min-width:992px) {

    .navbar {
        min-height: 35px;
    }
    .fixed-top .navbar-brand > img {
        position: inherit;
        top: 0px;
        left: 25px;
        height: 90px;
        width: 90px;
    }
    .navbar-brand.uh-nav-app-name {
        position: inherit;
        top: 0px;
        left: 115px;
        height: 90px;
        white-space: nowrap;
        text-align: left;
        font-size: 28px;
    }

    .uh-branding-one {
        font-size: 1.8em;
    }
    .uh-branding-two {
        font-size: 1.0em;
    }

    /* Make Navigation Toggle on Desktop Hover */
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

}

.typeahead-institutions .dropdown-menu {
    position: absolute;
    display: block;
    min-width: 160px;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
}

.typeahead-institutions .dropdown-menu li {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.typeahead-institutions .dropdown-menu li > a {
    color: #333;
    text-decoration: none;
}

.typeahead-institutions .dropdown-menu li.active {
    background-color: #eee;
}

.ui-select-container {
    background-color: white;
    border-radius: 4px;
}

.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu {
  display: block;
  opactity: 100 !important;
}