
html {
    position: relative;
    min-height: 100%;
    overflow-y:scroll;
}

body {
    font-family: "Open Sans", arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;

    padding-top: 7em;
    padding-bottom: 50px;
    background-color: white;
}
h1 {
    font-size: 30px;
    line-height: 2.0em;
}
h2 {
    font-size: 28px;
}
h3 {
    color: #BD9319;
    font-size: 22px;
    font-style: italic;
}
h4 {
    font-size: 1.2rem;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    color: #0275d8;
    text-decoration: underline;
}

.btn:hover {
    background-color:  #F5ECCE ;
}

.seal-color {
   color: #BD9319;
}

p.uh-align-left {
   text-align: left;
}

/*
.btn:hover {
    background-color: #fef9e7  ;
    border-color: #ccc;
    font-weight: normal;
}

.btn-default {
    border-color: #BD9319;
}
*/

td.uh-pre {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}

.uh-branding-one {
    font-family: cinzel-regular, serif;
    font-size: 1.6em;
    font-style: normal;
    letter-spacing: 2.2px;
    color: #777;
}
.uh-branding-two {
    font-family: cormorant-upright-regular, cursive;
    font-size: 0.8em;
    font-style: normal;
    color: #777;
}

.navbar {
    background-color: white;
}
.fixed-top .nav {
    padding-left: 0px;
    padding-right: 20px;
    background-color: white;
}
.fixed-top .navbar-brand {
    padding-right: 0px;
}
.fixed-top .navbar-brand > img {
    height: 50px;
    width: 50px;
    background-color: transparent;
}
.navbar-brand.uh-nav-app-name {
    height: 50px;
    width: auto;
    color: #BD9319;
    background-color: transparent;


    font-family: alegreyasans-regular, opensans-regular, serif;
    font-weight: normal;
    font-size: 20px;
}
.navbar-brand.uh-nav-app-name:hover {
    color: #b08a17;
}
.dropshadow {
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: white;
}

.amp {
    font-family: alice-regular, alegreyasans-regular, opensans-regular, serif;
    font-weight: normal;
    font-size: 90%;
}

.footer {
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    font-size: 100%;
    text-align: center;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.container .jumbotron.compacted,
.container-fluid .jumbotron.compacted {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel-default > .panel-heading {
    font-weight: bold;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.no-margin-padding {
    padding-left: 0;
    padding-right: 0;
}

input.form-control.full-width {
    width: 100%;
}

#success_message{ display: none;}

button.redify-link {
    color: #d43f3a;
}

.pinkify {
    background-color: pink;
}
.goldify {
    background-color: gold;
}
.aquafy {
    background-color: aqua;
}
.yellowify {
    background-color: #ffff66;
}

/* -------------------------------------------------------- */
.btn-wrappable {
    white-space: normal;
    text-align: left;
}
.back-to-top {
    display: inline-block;
    clear: both;
    background: #fff;
    color: #333;
    padding: 0 10px 5px;
    margin: 0px 0 0;
    text-shadow: none;
}
.back-to-top:hover {
    background: #cccccc;
    color: #fff;
    text-decoration: none;
}
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
@font-face {
    font-family: cinzel-regular;
    src: url(/transferdatabase/fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: cormorant-upright-regular;
    src: url(/transferdatabase/fonts/CormorantUpright-Regular.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(/transferdatabase/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: librefranklin-regular;
    src: url(/transferdatabase/fonts/LibreFranklin-Regular.ttf);
}

@font-face {
    font-family: opensans-regular;
    src: url(/transferdatabase/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(/transferdatabase/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: alegreyasans-regular;
    src: url(/transferdatabase/fonts/AlegreyaSans-Regular.ttf);
}
@font-face {
    font-family: josefinsans-regular;
    src: url(/transferdatabase/fonts/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: raleway-regular;
    src: url(/transferdatabase/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: yanonekaffeesatz-regular;
    src: url(/transferdatabase/fonts/YanoneKaffeesatz-Regular.ttf);
}

@font-face {
    font-family: alice-regular;
    src: url(/transferdatabase/fonts/Alice-Regular.ttf);
}

@font-face {
    font-family: marcellus-regular;
    src: url(/transferdatabase/fonts/Marcellus-Regular.ttf);
}

@font-face {
    font-family: ovo-regular;
    src: url(/transferdatabase/fonts/Ovo-Regular.ttf);
}

@font-face {
    font-family: vidaloka-regular;
    src: url(/transferdatabase/fonts/Vidaloka-Regular.ttf);
}

@font-face {
    font-family: playfairdisplaysc-regular;
    src: url(/transferdatabase/fonts/PlayfairDisplaySC-Regular.ttf);
}

@font-face {
    font-family: SourceSerifPro-Regular;
    src: url(/transferdatabase/fonts/SourceSerifPro-Regular.ttf);
}

@font-face {
    font-family: playfairdisplay-regular;
    src: url(/transferdatabase/fonts/PlayfairDisplay-Regular.ttf);
}
/* -------------------------------------------------------- */

/* --------------------------------------*/
/* --------------------------------------*/
/* --------------------------------------*/

@media(min-width: 1200px) {
  .container, .container-fluid {
    width: 992px;
  }
}

@media(min-width:992px) {

    .navbar {
        min-height: 90px;
    }
    .fixed-top .navbar-brand > img {
        position: inherit;
        top: 0px;
        left: 25px;
        height: 90px;
        width: 90px;
    }
    .navbar-brand.uh-nav-app-name {
        position: inherit;
        top: 0px;
        left: 115px;
        height: 90px;
        white-space: nowrap;
        text-align: left;
        font-size: 28px;
    }

    .uh-branding-one {
        font-size: 1.8em;
    }
    .uh-branding-two {
        font-size: 1.0em;
    }

    /* Make Navigation Toggle on Desktop Hover */
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

}

.typeahead-institutions .dropdown-menu {
    position: absolute;
    display: block;
    min-width: 160px;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
}

.typeahead-institutions .dropdown-menu li {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.typeahead-institutions .dropdown-menu li > a {
    color: #333;
    text-decoration: none;
}

.typeahead-institutions .dropdown-menu li.active {
    background-color: #eee;
}

.ui-select-container {
    width:  300px;
}