@font-face {
    font-family: cinzel-regular;
    src: url(../fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: cormorant-upright-regular;
    src: url(../fonts/CormorantUpright-Regular.ttf);
}

html {
    position: relative;
    min-height: 100%;
}
p:after {content: none;}
p.no-after:after{content:none;}
body {
    padding-top: 80px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. changing comment*/
    padding-bottom: 50px;
    background-color: white;
}

h3 {
   color: #BD9319;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    color: #0275d8;
    text-decoration: underline;
}

td.uh-pre {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
}

.uh-branding-one {
    font-family: cinzel-regular, serif;
    font-size: 1.6em;
    font-style: normal;
    letter-spacing: 2.2px;
    color: #777;
}
.uh-branding-two {
    font-family: cormorant-upright-regular, cursive;
    font-size: 0.8em;
    font-style: normal;
    color: #777;
}
/*
.navbar {
    background-color: white;
	margin-bottom: 0px;
}
.navbar-default {
	border:none;
	margin-bottom: 0px;
	background-color: white;
}
*/
.navbar-default .navbar-nav .caret > ul > li > span{
	border-bottom: none;
	transition: none;
}

#submenu ul li {
	display: inline;
	text-align: center;
	background-color: transparent;
	border-bottom: 3px solid transparent;
	background-color: white;
}
#submenu ul {
	box-shadow: none;
}
#submenu a {
	display: inline-block;
	width: 100%;
	padding: .75rem 0;
	margin: 0px 10px 0px 10px;
	text-align: center;
	text-decoration: none;
	color: #333;
}
#submenu {
	max-height: 50px;
	padding-top: 00px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
	width: auto;
	border: none;
    background-color: transparent;
	box-shadow: 0 4px 2px -2px #f3f3f3;
}
/*
.navbar-fixed-top .nav {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}
.navbar-fixed-top .navbar-brand {
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    min-height: 50px;
    min-width: 50px;
}
*/
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
.icon {
  display: inline;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #b5985a;
}
.icon-bubbles3 {
  width: 1.4em;
}
/* .navbar-fixed-top .navbar-brand > img {
    height: 60px;
    width: 60px;
    background-color: transparent;
}
.navbar-brand.uh-nav-app-name {
    height: 50px;
    width: auto;
    padding-top: 25px;
    background-color: transparent;
}
 */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: transparent;
}

.footer {
    position: absolute;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    font-size: 100%;
    text-align: center;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/* ----------Sortable-------http://johnny.github.io/jquery-sortable/-------------*/

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  left: 30px;
  opacity: 0.5;
  z-index: 2000;
  cursor: pointer;
}

ol.example li.placeholder {
  position: relative;
  cursor: pointer !important;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  cursor: pointer !important;
  /** Define arrowhead **/
}
/* --------------------------------------*/

.container{
	width: 100%;
	max-width: 960px;
	margin-top:auto;
}
.container-full-width {
	width: 100%;
}
#application-form {
	width: 100%;
	margin-top: 0px;
	padding-bottom: 10px;
}
#add-fac {
	min-height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  padding-top: 20px;
  float: left;
  height:auto;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  float: left;
  margin-top: 20px;
  width: 700px;
}
#space {
	margin-left: 24%;
}
.upload-drop-zone {
  height: 100px;
  border-width: 2px;
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 100px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.hidden {
     display:none;
}
#append {
	width: 80%;
	padding: 2px;
	margin: .5em;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
text-decoration: none;
color: #FFF !important;
background-color: transparent !important;
border-bottom-color: #FFF;
    -webkit-transition: border-bottom-color .5s ease;
    -moz-transition: border-bottom-color .5s ease;
    -o-transition: border-bottom-color .5s ease;
    -ms-transition: border-bottom-color .5s ease;
    transition: border-bottom-color .5s ease;
}
.nav-pills > li > a{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #185182;
    border-radius:0px;
	font-size: 1em;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #fff;
}

#success_message{ display: none;}

#shadow {
	padding-top: 20px;
	padding-bottom: 5px;
	background-color: white;
	box-shadow: 0 4px 2px 2px #f3f3f3;
}
.background-color {
	background-color: #f2f2f2;
}
.table>thead>tr>th {
	border-bottom: none;
}

/* --------------------------------------*/
/* --------------------------------------*/
@media(max-width:960px) {
	#sidebar {
		max-width: 100%;
	}
	#space {
	margin-left: 0%;
}
	#main {
		width: 100%;
	}
}



@media(max-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
        padding-bottom: 50px;
    }
    .navbar {
        min-height: 90px;
		margin-bottom: 0px;
		border: none;
    }
	.navbar-nav {
        margin: 0px -15px;
    }
	.navbar-header {
		height: 90px;
		box-shadow: 0 4px 4px -2px #f3f3f3;
	}
    .navbar-fixed-top .navbar-brand > img {
        position: fixed;
        top: 5px;
        left: 5px;
        height: 80px;
        width: 80px;
        background-color: transparent;
    }
    .navbar-brand.uh-nav-app-name {
        position: fixed;
        top: 20px;
        left: 70px;
        height: 90px;
        width: 65%;
        padding-top: 0px;
        font-size: 1.7em;
        text-align: left;
        background-color: transparent;
		line-height: 27px;
    }
    .uh-branding-one {
        font-size: 1.8em;
    }
    .uh-branding-two {
        font-size: 1.0em;
    }
	.effect {
		display: none;
	}
	.visuallyhidden {
	position: relative;
	float: left;
	overflow: visible;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin-left: 40px;
	padding: 0;
	border: 0;
}
	.caret {
		float:right;
	}
	.nav-pills > .active > a,
	.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
		text-decoration: none;
		border-radius:0px;
		border-bottom-width: none;
		border-bottom-style: none;
		background-color: transparent !important;
		border-bottom-color: #B3995D;
		padding-bottom: 10px;

	}
	.nav-pills > li > a{
		border-radius:0px;
		font-size: 1em;
		margin: 0px;
		padding: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#submenu ul li {
		display: block;
		padding: 20px 0px 0px 20px;
		text-align: left;
		height: 50px;
		background-color: #f3f3f3;
	}
	#submenu li {
		display: block;
		padding-top: 10px;
		text-align: left;
		background-color: #f3f3f3;
	}
	#submenu a {
		color: black;
		text-align: left;
		width: 100%;
		padding: 10px 10px 10px 20px;
		margin: 0px;
		text-decoration: none;
		color: #333;
	}
	#submenu ul li.current {
		background-color: aliceblue;
		padding: 15px 15px 0px 4%;
	}
	#submenu {
		background-color: #f3f3f3;
		min-height:210px;
	}
	#space {
		max-width: 100%;
		margin-left: 0%;
		display: block;
	}
	#main{
		width: 100%;
		padding-top: none;
	}
	#application-form {
		padding: 10px;
		margin: 0px;
	}
}
