<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="creditxferApp">
    <nav th:replace="menubar :: copy"></nav>
    <div class="container" sec:authorize="hasRole('ADMIN')">
        <div class="row">
          <div class="col-sm-12">
            <h4>Administration</h4>
            <hr/>
            <a th:href="@{/admin/actions}" href="/admin/actions">View Action codes</a><br/>
            <a th:href="@{/admin/idle}" href="/admin/idle">Idle example</a><br/>
            <br>
            <hr/>
            <p>
              This project includes some exception handling that is <br/>
              able to be handled at the controller level.<br/>
              Here are some exceptions that the Administration section<br/>
              has been coded to throw just for demonstration of their<br/>
              handling within the application.
            </p>
            <a th:href="@{/admin/npe}" href="/admin/npe">Null Pointer Exception</a><br/>
            <a th:href="@{/admin/ioexception}" href="/admin/ioexception">I/O Exception</a><br/>
            <hr/>
          </div>
        </div>
    </div>

    <div th:replace="footer :: copy"></div>
</body>
</html>

