<div class="modal fade" id="course" role="dialog" aria-labelledby="courseDescription" th:fragment="copy">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-{{color}} text-white">
          <h5 class="modal-title">{{course.subjectCodeTrans}}{{course.courseNumberTrans}} {{course.courseTitleTrans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-7">
              <h6><b>Attribute</b></h6>
            </div>
            <div class="col-md-5">
              <h6><b>Attribute Activity Date</b></h6>
            </div>
          </div>
          <div class="row" data-ng-repeat="a in courseAttr">
            <div class="col-md-7">
              <p>{{a.equivCourseAttribute}} -- {{a.equivCourseAttributeDesc}}</p>
            </div>
            <div class="col-md-5">
              <p>{{a.equivAttrActivityDate}}</p>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
</div>