<div th:fragment="copy" th:remove="tag">

    <script type="text/javascript" th:src="@{/javascript/app.js}"              src="javascript/app.js"></script>
    <script type="text/javascript" th:src="@{/javascript/eligibility.js}" src="javascript/eligibility.js"></script>

    <script type="text/javascript" th:src="@{/webjars/angularjs/1.5.8/angular.min.js}"        src="webjars/angularjs/1.5.8/angular.min.js"></script>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"                      src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"             src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"                  src="webjars/popper.js/1.14.3/popper.min.js"></script>

    <script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/jquery-sortable/0.9.13/js/jquery-sortable.min.js}" src="webjars/jquery-sortable/0.9.13/js/jquery-sortable.min.js"></script>

    <script type="text/javascript" th:src="@{/javascript/holiday.util.js}" src="javascript/holiday.util.js"></script>

    <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js}" src="webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"  src="webjars/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}" src="webjars/respond/1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <footer  class="footer" th:fragment="copy">
       <div class="container">
           <span class='uh-branding-one'>University</span>
           <span class='uh-branding-two'>of&nbsp;</span>
           <span class='uh-branding-one'>Hawai&#8216;i</span>
       </div>
    </footer>
</div>