<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <div class='container'>
        <div class='row float-xs-left'>
            <div class='offset-xs-1 col-xs-10 offset-sm-1 col-sm-10'>
                <p class='lead'>
                    The Course Transfer Database website contains a searchable database
                    of course equivalencies. <br />
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='offset-xs-1 col-xs-10 offset-sm-1 col-sm-4'>
                <a th:href="@{/li}" href="/li" class="btn btn-lg btn-outline-secondary text-dark" aria-label="Left Align" role="button">
                    <i class="fa fa-th-large seal-color" aria-hidden="true"></i>
                    &nbsp;&nbsp;List Search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <p class='d-none d-sm-block'/>
                <p class='uh-align-left'>
                    This search is useful if you would like to see how a course transfers,
                    either between UH campuses or from other colleges and universities.
                </p>
            </div>
            <div class='offset-xs-1 col-xs-10 offset-sm-1 col-sm-4'>
                <a th:href="@{/ex}" href="/ex" class="btn btn-lg btn-outline-secondary text-dark" aria-label="Left Align" role="button">
                    <i class="fa fa-th-large seal-color" aria-hidden="true"></i>
                    &nbsp;&nbsp;Explore Search
                </a>
                <p class='d-none d-sm-block'/>
                <p class='uh-align-left'>
                    This search is useful if you know there&#8217;s a certain course at
                    UH campus that you need to take, and you&#8217;d like to see equivalents
                    for that course at other campuses.
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='offset-xs-1 col-xs-10 offset-sm-1 col-sm-10'>
                <p></p>
            </div>
        </div>
        <div class='row'>
            <div class='offset-xs-1 col-xs-10 offset-sm-1 col-sm-10'>
                <p class='uh-align-left'>
                  The evaluation of courses on this site is a guide,
                  and transferability of any given course is not
                  guaranteed until an official transfer credit evaluation
                  is completed. Specific course equivalencies
                  require review based upon the unique characteristics of
                  each college and university, and may
                  differ from one institution to another.
                  Be sure to contact an academic advisor as the
                  database is regularly updated and subject to change.
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='offset-xs-1 col-xs-10 offset-sm-1 col-sm-10'>
                <p class='uh-align-left'>Considerations:</p>
            </div>
        </div>
        <div class='row'>
            <div class='offset-xs-1 col-xs-10 offset-sm-1 col-sm-10'>
                <ul class='uh-align-left'>
                  <li>Only courses that have been previously evaluated by the campus are included in the Transfer Database.</li>
                  <li>The website may not include courses from new, recently changed, or infrequently transferred courses.</li>
                  <li>Coursework not found on this website will be evaluated at the time of application.</li>
                  <li>Revisions to course evaluation may be based on the review of new information,
                      and no evaluation is official until credits appear on the student&#8217;s official transcript.</li>
                  <li>Courses designated as equivalent have been judged to have highly similar content such that
                      two campuses treat the classes as essentially the same class. However, a designation of
                      equivalency does not mean the two courses will satisfy the same requirements at different campuses.</li>
                </ul>
            </div>
        </div>

    </div>
    <!-- / Content container. -->

    <div th:replace="footer :: copy"></div>
</body>
</html>
