<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="creditxferApp" ng-controller="CreditxferJsController" data-ng-init="init()">
    <div class="bg-dark">
      <div class="container">
        <div class="row pt-0 pb-0">
          <div class="navbar col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <nav class="navbar-nav navbar-expand navbar-dark">
              <ul class="navbar-nav align-bottom">
                <li class="nav-item"><a class="nav-item nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-item nav-link" href="#">Feedback</a></li>
                <li class="nav-item"><a class="nav-item nav-link" href="#">Help</a></li>
              </ul>
            </nav>
          </div>
          <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-content-center">
            <nav class="navbar-nav navbar-expand navbar-dark justify-content-end top-padding: 5px">
              <ul class="navbar-nav pt-2">
              </ul>
            </nav>
          </div>-->
        </div>
      </div>
    </div>

    <!-- UH System top nav bar end-->
    <div class="bg-white pt-4 pb-4">
      <div class="container">
        <div class="row">
          <div class="col-6"><img th:src="@{images/uh_logo.png}" alt="University of Hawaii" width="100%" class="img-fluid"></div>
        </div>
      </div>
    </div>
    <!-- UH system header end-->
    <div class="bg-light pt-2 pb-2 border-top border-bottom">
      <div class="container" >
        <h5 class="title"><a href="/" th:href="@{/}">UH System Course Transfer Database</a></h5>
      </div>
    </div>
    <!-- title bar end-->
    <div class="bg-gold pt-3 pb-3">
      <div class="container search-box" >
        <form class="form-row">
          <div class="form-group col-md-4">
            <label>Transferring from</label>
              <div class="form-group">
              <ui-select ng-model="institutions.selected" theme="bootstrap">
                <ui-select-match placeholder="Type your institution">{{$select.selected.description}}</ui-select-match>
                <ui-select-choices minimum-input-length="4" group-by="'stateProvince'" repeat="item in institutions | propsFilter: {description:$select.search} | limitTo: 400" >
                  <div ng-bind-html="item.description | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              </div>
          </div>
          <div class="form-group col-md-4">
            <label>Transferring to</label>
            <select ng-model="target" ng-change="filterSubjects(target)" class="custom-select" id="target">
              <option value="">Select a UH Campus</option>
              <option value="HIL">UH Hilo</option>
              <option value="MAN">UH Mānoa</option>
              <option value="WOA">UH West Oʻahu</option>
              <option value="HAW">Hawaiʻi Community College</option>
              <option value="HON">Honolulu Community College</option>
              <option value="KAP">Kapiʻolani Community College</option>
              <option value="KAU">Kauaʻi Community College</option>
              <option value="LEE">Leeward Community College</option>
              <option value="MAU">UH Maui College</option>
              <option value="WIN">Windward Community College</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Subject</label>
            <div class="form-group">
              <ui-select class="form-group" ng-model="subjects.selected" ng-change="filterCourses(target, subjects.selected)">
                <ui-select-match>{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in subjects | filter: $select.search | limitTo: 400" >
                  <span ng-bind-html="item | highlight: $select.search"></span>
                </ui-select-choices>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- main content starts-->
    <div class="container pt-3 pb-3">
      <div class="panel-body" >
        <table class="table table-hover table-condensed">
          <thead>
          <tr>
            <th>Target Institution</th>
            <th>Course</th>
            <th>Term</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="c in available">
            <td>{{target}}</td>
            <td>{{c.subject}} {{c.courseNumber}}</td>
            <td>{{c.startDescription}} - {{c.endDescription}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- add the main content here-->
    </div>
    <!-- main content ends-->

    <div th:replace="footer :: copy"></div>
</body>
</html>
