<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="creditxferApp" ng-controller="CreditxferJsController" data-ng-init="init()">
<nav th:replace="menubar :: copy"></nav>
<div class="bg-gold pt-3 pb-3 sticky-top">
      <div class="container search-box" >
        <form class="form-row">
          <div class="form-group col-md-4">
            <label>Transferring from</label>
              <div class="form-group">
              <ui-select ng-model="institutions.selected" theme="bootstrap"
                ng-change="loadCatalog(institutions.selected.code, colleges.selected.mifValue)">
                <ui-select-match placeholder="Type your institution">{{$select.selected.description}}</ui-select-match>
                <ui-select-choices minimum-input-length="4" group-by="'stateProvince'" repeat="item in institutions | propsFilter: {description:$select.search} | limitTo: 400" >
                  <div ng-bind-html="item.description | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              </div>
          </div>
          <div class="col-md-4">
            <label>Transferring to</label>
            <div class="form-group">
              <ui-select ng-model="colleges.selected" ng-disabled="!institutions.selected" theme="bootstrap"
                ng-change="loadCatalog(institutions.selected.code, colleges.selected.mifValue); headerColor(colleges.selected.mifValue);">
                <ui-select-match placeholder="Select a UH Campus">{{$select.selected.description}}</ui-select-match>
                <ui-select-choices repeat="item in colleges | filter: $select.search">
                  <div ng-bind-html="item.description | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="col-md-4">
            <label>Subject</label>
            <div class="form-group">
              <ui-select class="form-group" ng-model="subjects.selected" theme="bootstrap" ng-disabled="!colleges.selected"
                ng-change="filterCourses(subjects.selected)">
                <ui-select-match>{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in subjects | filter: $select.search | limitTo: 400" >
                  <span ng-bind-html="item | highlight: $select.search"></span>
                </ui-select-choices>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- main content starts-->
    <div class="container pt-3 pb-4">
      <div class="panel-body" >
        <table ng-show="subjects.selected && available.length != 0" class="table table-bordered">
          <thead>
          <tr>
            <th scope="col" width="8%">Subject</th>
            <th scope="col" width="8%">Course</th>
            <th scope="col" width="30%">Title</th>
            <th class="bg-{{color}} text-white" scope="col" width="8%">Subject</th>
            <th class="bg-{{color}} text-white" scope="col" width="8%">Course</th>
            <th class="bg-{{color}} text-white" scope="col" width="8%">Credits</th>
          </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="c in available" ng-click="showCourse(c)" class="clickable">
              <td>{{c.subjectCodeTrans}}</td>
              <td>{{c.courseNumberTrans}}</td>
              <td>{{c.courseTitleTrans}}</td>
              <td class="bg-{{color}}-hl">{{c.subjectCodeEquiv}}</td>
              <td class="bg-{{color}}-hl">{{c.courseNumberEquiv}}</td>
              <td class="bg-{{color}}-hl">{{c.equivCreditsUsed}}</td>
            </tr>
          </tbody>
        </table>
        <p ng-show="available.length == 0 && subjects.selected">No results</p>
      </div>
      <!-- add the main content here-->
      <div th:replace="course :: copy"></div>
    </div>
    <!-- main content ends-->

    <div th:replace="footer :: copy"></div>
</body>
</html>
