<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="creditxferApp" ng-controller="IdleController">
    <nav th:replace="menubar :: copy"></nav>
    <div class="container" sec:authorize="hasRole('ADMIN')">
        <hr/>
        <p class="h4 text-center">Idle Test</p>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control" name="test" id="test" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div th:replace="idle-modal :: copy"></div>
    </div>

    <div th:replace="footer :: copy"></div>
</body>
</html>

