<script type="text/ng-template" id="idleModal.html" th:fragment="copy">
    <div class="modal-header">
        <h5 class="modal-title">Session Timeout</h5>
        <button type="button" class="close" ng-click="$dismiss('cancel')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                You have been timed out due to inactivity.
            </div>
        </div>
    </div>
</script>