<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body ng-app="creditxferApp">
<!--<nav th:replace="menubar :: copy"></nav>-->

<!--  Content container -->
<div class="container" ng-controller="CreditxferJsController" data-ng-init="init()">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <form class="form-inline">
          <div class="col-xs-5 col-md-3 panel-title app-types">
            Institutions ({{filtered.length}})
          </div>
          <div class="col-xs-7 col-md-offset-2 col-md-7 text-right typeahead-institutions">
            <ui-select class="form-group" ng-model="institutions.selected">
              <ui-select-match placeholder="Search for institution...">{{$select.selected.description}}</ui-select-match>
              <ui-select-choices minimum-input-length="4" group-by="'stateProvince'" repeat="item in institutions | propsFilter: {description:$select.search} | limitTo: 400" >
                <div ng-bind-html="item.description | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </form>
      </div>
    </div>
    <div class="panel-body" >
      <table class="table table-hover table-condensed">
        <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>State Province</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="i in institutions | filter:institutions.selected as filtered">
          <td>{{i.description}}</td>
          <td>{{i.city}}</td>
          <td>{{i.stateProvince}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- / Content container. -->


<div th:replace="footer :: copy"></div>

</body>
</html>
